<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="/js/libs/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="/js/libs/syntaxhighlighter/styles/shCore.css" />
    <link rel="stylesheet" href="/js/libs/syntaxhighlighter/styles/shThemeEclipse.css" />

    <script src="/js/libs/modernizr-1.7.min.js"></script>
  </head>
  <body>
    <div id="content" style="background-image: url(/images/<%= 'background.jpg' %>)">
      <% 
         navItems = @site.items.find_all{ |itm| itm[:nav] }.sort_by{ |itm| itm[:navindex] }
         breadcrumbs_trail().length == 1 ? currentNavItem = breadcrumbs_trail()[0] : currentNavItem = breadcrumbs_trail()[1]
         currentNavItemName = currentNavItem[:title].downcase;
      %>
      <!-- section images -->
      <span class="nav-image" 
            id="nav_block-color" 
            style="background-image: url(/images/block-color.png);"></span>
      <% 
         navItems.each do |i| 
         name = i[:title].downcase
      %>
        <span class="nav-image nav_<%= name %>-image" 
              id="nav_<%= name %>-gray" 
              style="background-image: url(/images/<%= name %>-gray.png);"></span>
        <span class="nav-image nav_<%= name %>-image" 
              id="nav_<%= name %>-color" 
              style="background-image: url(/images/<%= name %>-color.png);"></span>
      <% end %>
      <script>
        var currentNav="<%= currentNavItemName %>";
      </script>
      <div id="text">
        <header>
          <nav class="box">
            <ul>
            <% 
               navItems.each do |i| 
            %>
              <li>
              <% if i[:nav] 
                 navlinkclass = 'navlink'
                 navlinkclass << ' navhighlight' if i[:title].downcase == currentNavItemName %>
                <%= link_to(i[:title].capitalize, i.reps[0].path, :class => navlinkclass, :id => 'nav_'+i[:title].downcase) %>
              <% end %>
              </li>
            <%end%>
            </ul>
          </nav>
        </header>
    
        <%
          # render aside?
          renderAside = (item.children.length > 0) && !item[:hideaside]
          # article width
          width = "wide"
        %>

        <% if renderAside %>
          <aside class="box">
            <h2><%= item[:title] %></h2>
            <ul>
            <% @item.children.find_all{ |itm| !itm[:hidden]}.each do |c|  %>
              <li>
                <%= link_to("&rarr;" + c[:title], c.reps[0].path) %>
              </li>
            <%end%>
            <li>
          </aside>
          <% width = "narrow" %>
        <% end %>

        <% if !item[:hidearticle] %>
          
          <article class="box <%= width %>">
            <%= link_to("&larr; back to " + item.parent[:title], item.parent.reps[0].path, :class => "backLink") %> 
            <br class="clearfix"/>
              <% if !breadcrumbs_trail().index{|i| i.identifier == "/rants/"}.nil? %>
                <div id="rssfloat"><a href="/rants/feed.xml"><img src="/images/feed-icon-28x28.png"/></a></div>
              <% end %>
              <h1><%= item[:title].capitalize %></h1>
              <p class="abstract"><%= item[:abstract] %></p>
              <%= yield %>
              <% if item[:kind] == "article" %>
                <%= render('_blog_footer', :post => item) %>
                <%= render('_blog_pager', :post => item) %>
                <%= render('_disqus', :item => item) %>
              <% end %>
              <% if item[:picasaAlbumID] %>
                <div class="picasaAlbum" data-albumid="<%= item[:picasaAlbumID] %>"></div>
              <% end %>
          </article>
          <!-- sidebar -->
          <%= render('_sidebar') %>
        <% end %>
      </div>

    </div>
    <footer>
      Copyright © 2011 NightSpawN | powered by <a href="http://nanoc.stoneship.org/">nanoc</a>, <a href="http://jquery.com/">jQuery</a> and <a href="http://fancybox.net/">fancybox</a>
    </footer>

    <script type="text/javascript" src="/js/libs/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="/js/libs/fancybox/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="/js/libs/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <link rel="stylesheet" href="/js/libs/fancybox/jquery.fancybox.css?v=2.0.1" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/libs/fancybox/jquery.fancybox.pack.js?v=2.0.1"></script>


    <script type="text/javascript" src="/js/libs/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="/js/libs/syntaxhighlighter/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/js/libs/syntaxhighlighter/scripts/shBrushXml.js"></script>

    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
